@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: blue orange; /* scroll thumb and track */

  &::-webkit-scrollbar {
    width: 14px; /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: white; /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #675544; /* color of the scroll thumb */
  }
}

/* HELPERS */

.fc {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Cormorant Garamond", serif;
}

.main {
  width: 100%;
}

/*                NAV                 */

.menu {
  color: black;
  display: flex;
  flex-direction: column;
  left: 5px;
  opacity: 0;
  position: fixed;
  top: 5px;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.hamburguesa {
  align-self: flex-start;
  background: url('../img/menu_bg.png');
  cursor: pointer;
  font-size: 1.6rem;
  height: 40px;
  text-align: center;
  width: 256.58px;
  z-index: 1;
  letter-spacing: 5px;
}

.menu, .hamburguesa :not(p) {
  opacity: 0.3;
}

.links {
  background: url('../img/menu_bg.png');
  font-size: 2rem;
  height: 50vh;
  opacity: 0;
  padding: 10px 50px;
  transform: translateX(-110%);
  transition: all 0.3s ease-in-out;

  ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }

  li {
    list-style: none;
  }

  a {
    color: black;
    text-decoration: none;
  }
}

.whiteLetters {
	color: transparent;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

/*                HERO                 */

.hero {
  min-height: 100vh;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  max-width: 100vw;

  h1 {
    color: white;
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: 3px;
    left: 5%;
    position: absolute;
    top: 10%;
  }
}

/*                botonera                 */

.buttons {
  color: white;
  display: grid;
  font-weight: 300;
  grid-template-columns: 1fr 1fr;

  :last-child {
	  grid-column: span 2;
  }

  .button {
    overflow: hidden;
    position: relative;
    max-height: 50vh;

    img {
      display: block;
      object-fit: cover;
	  outline: none;
      width: 100%;
    }

    p {
      font-size: 2rem;
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, 70%);
      transition: all 0.5s ease-in;
    }

    &:hover p {
      transition: all 0.8s ease-out;
      transform: translate(-50%, 50%);
      opacity: 1;
    }

    &:nth-child(2) {
      color: #503325;
    }
  }
}
